body {
    background-color: #EAEAEA;
    color: #000732;
    font-family: 'Roboto', sans-serif;
}

button {
    box-shadow: 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

div {
    text-align: center;
}

label {
    display: block;
    margin: 1em;
}

li {
    list-style-position: inside;
    padding-bottom: 1em;
}

.api {
    background-color: #00CCED;
    border-color: #FFFFFF;
    border-style: solid;
    font-size: .9em;
    margin-left: .5em;
    padding: 1em;
    width: 6em;
}

.api:hover {
    background-color: #FFFFFF;
    border-color: #00CCED;
    color: #00CCED;
}

.error {
    border-color: #FF0000;
}

.hidden {
    display: none;
}

#notes {
    background-color: #FFA500;
    border-color: #FFFFFF;
    border-style: solid;
    display: block;
    margin: auto;
    margin-top: 2em;
    padding: 1em 2em 1em 2em;
}

#notes:hover {
    background-color: #FFFFFF;
    border-color: #FFA500;
    color: #FFA500;
}

@media only screen and (max-width: 310px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        display: none;
    }

    ol {
        font-size: .8em;
        margin-top: 2em;
        padding-left: .1em;
        text-align: left;
    }

    input {
        width: 9em;
    }

    .api {
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    ol {
        margin-top: 2em;
        padding-left: .1em;
        text-align: left;
    }

    .api {
        display: block;
        height: 4em;
        margin: auto;
        margin-bottom: 1em;
        width: 8em;
    }
}

@media only screen and (max-width: 310px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        display: none;
    }

    ol {
        font-size: .8em;
        margin-top: 2em;
        padding-left: .1em;
        text-align: left;
    }

    input {
        width: 9em;
    }

    .api {
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }
}